/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
		width: 1200px; 
		margin: 0 auto; 
		font-family: ARIAL;	
		}

		p{
		font-size: 25px; 
		text-align: justify;
		}

		.block, .block2, .block3{
			background-color: #FFFF00;
			border: 2px outset #696969;
			font-size: 30px; 
			color: #696969; 
			text-align: center; 
			padding: 30px; 
			box-sizing: content-box;
		}

		.block2{
			margin: 10px 0 0 0;}
		
		.block3{margin: 10px 0 0 0;}

		.gallery_link{
			text-align: left;
		}
		h1{font-size: 35px; 
			text-align: center; 
			padding: 15px;
			font-weight: bold; 	
		}
		h2{font-size: 35px; 
			text-align: center; 
			padding: 15px;
			font-weight: bold; 

		}

		h3{
			font-size: 30px; 
			text-align: left; 
			padding: 15px; 	
		}
/*Menu TOP*/
		.menu{
			text-align: center;
			font-size: 0;
			position: relative;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.menu li{
			display: inline-block;
			background: orange;
			padding:20px 0px;
			margin-left: 100px;
			position: relative;
		}	

		.menu li:first-child{
			margin-left: 0;
		}

		.menu li a{
			display: inline-block;
			text-decoration: none;
			color: white;
			font-weight: 800;
			font-size: 25px;
			text-transform: uppercase;
			padding: 5px 70px;
		}

		

		.in_menu li{
			display: block;
			background: orange;
			margin-left: 0;
			width: 100%;
			position: relative;

			}


		.in_menu{
			display: none;
			position: absolute;
			left: 0;	
			top:100%;
			font-size: 0;
			
			
		}
			
		.menu li:hover{
			background: green;
		}

		.in_in_menu{
			display: none;		
			left: -90%;
			top: 0;
			font-size: 0;			
			position: absolute;
			padding-right: 50px;
						
		}
		
		

		.menu li:hover .in_menu{
			display: inherit;
	
		}	

		.in_menu li:hover .in_in_menu{
			display: inherit;
	
		}

		.menu>li:first-child>a:before{
			content: "";
			background: url('../img/sprite.png');
			background-position: -262px -10px;
			width: 64px;
			height: 64px;
			position: absolute;
			left: 0;
			top: 5%;

			}
		.menu>li:nth-child(2)>a:before{
			content: "";
			background: url('../img/sprite.png');
			background-position: -178px -10px;
			width: 64px;
			height: 64px;
			position: absolute;
			left: 0;
			top: 5%;

			}

			.menu>li:nth-child(3)>a:after{
			content: "";
			background: url('../img/sprite.png');
			background-position: -10px -10px;
			width: 64px;
			height: 64px;
			position: absolute;
			right: 0;
			top: 5%;

			}

			.menu>li:hover:nth-child(3)>a:after{
				content: "";
			background: url('../img/sprite.png');
			background-position: -598px -10px;
			width: 64px;
			height: 64px;
			position: absolute;
			right: 0;
			top: 5%;
			}

			.in_menu>li:nth-child(1)>a:before{
			content: "";
			background: url('../img/sprite.png');
			background-position: -430px -10px;
			width: 64px;
			height: 64px;
			position: absolute;
			left: 0;
			top: 5%;
			}

			.in_menu>li:hover:nth-child(1)>a:before{
				content: "";
			background: url('../img/sprite.png');
			background-position: -514px -10px;
			width: 64px;
			height: 64px;
			position: absolute;
			left: 0;
			top: 5%;
		}

		
		/*.menu>li:first-child a:before{
			background-position: -178px -10px;
		}*/
		
		/*.menu>li+li a:before{
			background-position: -94px -94px;
		}*/
		.menu>li+li+li a:after{
			background-position: -94px -10px;
		}



/*table_cell_properties*/
		.t_cell{
		outline: 2px solid black;	
		}

		.t_cell_400{
			background: yellow;
			outline: 2px solid black;
			width: 400px;
			display: table-cell;
		}

		.t_cell_800{
			background: green;
			outline: 2px solid black;
			width: 800px;
			display: table-cell;
		}

		.t_cell_200{
			background: green;
			outline: 2px solid black;
			width: 200px;
			display: table-cell;
		}
/*in_blocks_properties*/

		.in_block{
		outline: 2px solid black;	
		}

		.in_block_0{
		outline: 2px solid black;	
		font-size: 0px;
		}

		.in_block_400{
			background: yellow;
			outline: 2px solid black;
			width: 400px;
			display: inline-block;
			font-size: 14px ;
			vertical-align: top;
		}

		.in_block_800{
			background: green;
			outline: 2px solid black;
			width: 800px;
			display: inline-block;
			font-size: 14px ;
			vertical-align: top;
		}

		.in_block_200{
			background: green;
			outline: 2px solid black;
			width: 200px;
			display: inline-block;
			font-size: 14px ;
			vertical-align: top;
		}

/*float_properties*/
		
		.float{
		outline: 2px solid black;	
		
		}

		.float_400{
			background: yellow;
			outline: 2px solid black;
			width: 400px;
			float: left;
		}

		.float_800{
			background: green;
			outline: 2px solid black;
			width: 800px;
			float: left;
			
		}

		.float_200{
			background: green;
			outline: 2px solid black;
			width: 200px;
			float: left;
			
		}
		
		.clr:after{
			content:"1";
			clear:both;
			display:block;
		}
/*flexbox properties*/
	.flex_container{
		display: flex;
		outline: 2px solid black;
	}
	.flex{
		display: flex;
		outline: 2px solid black;

	}
	.flex400{
		flex:0 0 400px;
		background: green;
		outline: 2px solid black;
	}
	.flex200{
		flex:0 0 200px;
		background: yellow;
		outline: 2px solid black;
	}
	.flex800{
		flex:0 0 800px;
		background: brown;
		outline: 2px solid black;
	}
	.flex_column{
		background: grey;
		outline: 2px solid black;
	}
	
	/*link menu*/
	.menu_link{
			position: fixed;
			min-height: 100px;
			min-width: 50px;
			background: orange;
			top: calc(50% - 100px);
			z-index: 5;
			left: 0;
			padding: 10px 10px;
			font-size: 25px;
			text-align: center;
			border: 2px solid black;
			}

	.menu_link a{
		display: block;
		margin: 20px 5px;
		color: grey;
	}



